@{
    ViewBag.Title = "Home Page";
}

@model CASForMvc.Controllers.UserModel

<div class="jumbotron">

</div>

<div class="row">
    <div class="col-md-4">
        <h2>UserName</h2>
        <h6>@Model.UserName</h6>
        <h2>AuthenticationType</h2>
        <h6>@Model.AuthenticationType</h6>
        <h2>IsAuthenticated</h2>
        <h6>@Model.IsAuthenticated</h6>


    </div>
</div>